In [329]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import io
import re

In [330]:
url = "https://namu.wiki/w/%EC%99%B8%EA%B5%AD%EC%9D%B8%20%EC%84%A0%EC%88%98/KBO%20%EB%A6%AC%EA%B7%B8"

response = requests.get(url)
response.status_code

200

In [331]:
soup = BeautifulSoup(response.text, 'html.parser')

In [332]:
tables = soup.find_all('table')

In [333]:
len(tables)

239

In [343]:
pd.read_html(io.StringIO(str(tables[1])), header = 0)[0]

       구단명    성명  포지션   국적       비고
0  해태 타이거즈  숀 헤어  외야수  USA  시즌 중 영입

In [344]:
foreign_player_df = pd.DataFrame()
for i in range(1, len(tables)):    
    foreign_players = pd.read_html(io.StringIO(str(tables[i])), header = 0)[0]
    foreign_player_df = pd.concat([foreign_player_df, foreign_players])
    
foreign_player_df = foreign_player_df.reset_index(drop = True)

In [345]:
# year 2014
foreign_player_df[foreign_player_df['성명'] == '릭 밴덴헐크']

         구단명      성명 포지션   국적                      비고
365  삼성 라이온즈  릭 밴덴헐크  투수  NED                   신규 영입
390  삼성 라이온즈  릭 밴덴헐크  투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)

In [346]:
foreign_player_2014_2024 = foreign_player_df.iloc[390:, :].reset_index(drop = True)
foreign_player_2014_2024

         구단명           성명  포지션   국적                      비고
0    삼성 라이온즈       릭 밴덴헐크   투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
1    삼성 라이온즈      J.D. 마틴   투수  USA                   신규 영입
2    삼성 라이온즈     야마이코 나바로  내야수  DOM                   신규 영입
3     두산 베어스      더스틴 니퍼트   투수  USA                  4번째 시즌
4     두산 베어스     크리스 볼스테드   투수  USA                 시즌 중 방출
..       ...          ...  ...  ...                     ...
412   한화 이글스     리카르도 산체스   투수  VEN                  2번째 시즌
413   한화 이글스      요나단 페라자  외야수  VEN                   신규 영입
414  키움 히어로즈  엔마누엘 데 헤이수스   투수  VEN                   신규 영입
415  키움 히어로즈      아리엘 후라도   투수  PAN                  2번째 시즌
416  키움 히어로즈        로니 도슨  외야수  USA                  2번째 시즌

[417 rows x 5 columns]

In [361]:
foreign_player_2014_2024 = foreign_player_2014_2024.iloc[foreign_player_2014_2024['성명'].dropna(axis = 0).index, :].reset_index(drop = True)
foreign_player_2014_2024

         구단명           성명  포지션   국적                      비고
0    삼성 라이온즈       릭 밴덴헐크   투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
1    삼성 라이온즈      J.D. 마틴   투수  USA                   신규 영입
2    삼성 라이온즈     야마이코 나바로  내야수  DOM                   신규 영입
3     두산 베어스      더스틴 니퍼트   투수  USA                  4번째 시즌
4     두산 베어스     크리스 볼스테드   투수  USA                 시즌 중 방출
..       ...          ...  ...  ...                     ...
410   한화 이글스     리카르도 산체스   투수  VEN                  2번째 시즌
411   한화 이글스      요나단 페라자  외야수  VEN                   신규 영입
412  키움 히어로즈  엔마누엘 데 헤이수스   투수  VEN                   신규 영입
413  키움 히어로즈      아리엘 후라도   투수  PAN                  2번째 시즌
414  키움 히어로즈        로니 도슨  외야수  USA                  2번째 시즌

[415 rows x 5 columns]

## Add Years

In [363]:
# 2014
start_2014 = foreign_player_2014_2024[foreign_player_2014_2024['성명']=="릭 밴덴헐크"]
end_2014 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("펠릭스 피에")]
print(start_2014)
print(end_2014)

       구단명      성명 포지션   국적                      비고
0  삼성 라이온즈  릭 밴덴헐크  투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
       구단명      성명  포지션   국적     비고
33  한화 이글스  펠릭스 피에  외야수  DOM  신규 영입

In [364]:
# 2015
end_2015 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("앤디 마르테")].index[0]
end_2015

74

In [365]:
# 2016
end_2016 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("조쉬 로위")].index[0]
end_2016

116

In [366]:
# 2017
end_2017 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("라이언 피어밴드")].index[3]
end_2017

153

In [367]:
# 2018

end_2018 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("더스틴 니퍼트")].index[-1]
end_2018

187

In [368]:
# 2019
end_2019 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("제이크 스몰린스키")].index[0]
end_2019

226

In [369]:
# 2020
end_2020 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("딕슨 마차도")].index[0]
end_2020

260

In [370]:
# 2021
end_2021 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("에르난 페레즈")].index[0]
end_2021

298

In [371]:
# 2022
end_2022 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("마이크 터크먼")].index[0]
end_2022

340

In [372]:
# 2023
end_2023 = foreign_player_2014_2024[foreign_player_2014_2024['성명'].str.contains("닉 윌리엄스")].index[0]
end_2023

384

In [373]:
# add years
years = ['2014'] * (end_2014.index[0] - start_2014.index[0] + 1) \
        + ['2015'] * (end_2015 - end_2014.index[0]) \
        + ['2016'] * (end_2016 - end_2015) \
        + ['2017'] * (end_2017 - end_2016) \
        + ['2018'] * (end_2018 - end_2017) \
        + ['2019'] * (end_2019 - end_2018) \
        + ['2020'] * (end_2020 - end_2019) \
        + ['2021'] * (end_2021 - end_2020) \
        + ['2022'] * (end_2022 - end_2021) \
        + ['2023'] * (end_2023 - end_2022) \
        + ['2024'] * (len(foreign_player_2014_2024) - end_2023 - 1)
len(years)

415

In [374]:
foreign_player_2014_2024.insert(0, "year", years)

In [375]:
foreign_player_2014_2024

     year      구단명           성명  포지션   국적                      비고
0    2014  삼성 라이온즈       릭 밴덴헐크   투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
1    2014  삼성 라이온즈      J.D. 마틴   투수  USA                   신규 영입
2    2014  삼성 라이온즈     야마이코 나바로  내야수  DOM                   신규 영입
3    2014   두산 베어스      더스틴 니퍼트   투수  USA                  4번째 시즌
4    2014   두산 베어스     크리스 볼스테드   투수  USA                 시즌 중 방출
..    ...      ...          ...  ...  ...                     ...
410  2024   한화 이글스     리카르도 산체스   투수  VEN                  2번째 시즌
411  2024   한화 이글스      요나단 페라자  외야수  VEN                   신규 영입
412  2024  키움 히어로즈  엔마누엘 데 헤이수스   투수  VEN                   신규 영입
413  2024  키움 히어로즈      아리엘 후라도   투수  PAN                  2번째 시즌
414  2024  키움 히어로즈        로니 도슨  외야수  USA                  2번째 시즌

[415 rows x 6 columns]

## Change team name

### remove '[]' values like in 'kt wiz[B]'

In [379]:
for column in foreign_player_2014_2024.columns:
    foreign_player_2014_2024[column] = foreign_player_2014_2024[column].astype('str')

In [380]:
def remove_brackets(text):
    return re.sub(r"\[.*\]", "", text)

# Assuming foreign_player_2014_2024 is your DataFrame
foreign_player_2014_2024 = foreign_player_2014_2024.map(remove_brackets)

In [381]:
foreign_player_2014_2024[foreign_player_2014_2024['year']=='2016']

     year       구단명         성명  포지션   국적                              비고
75   2016    두산 베어스    더스틴 니퍼트   투수  USA  3관왕(평균자책점, 승리, 승률), MVP, 골든글러브
76   2016    두산 베어스      닉 에반스  외야수  USA                             nan
77   2016    두산 베어스    마이클 보우덴   투수  USA                          탈삼진 1위
78   2016   삼성 라이온즈     앨런 웹스터   투수  USA                         시즌 중 방출
79   2016   삼성 라이온즈     요한 플란데   투수  DOM                          ↖대체 영입
80   2016   삼성 라이온즈    콜린 벨레스터   투수  USA                         시즌 중 방출
81   2016   삼성 라이온즈     아놀드 레온   투수  MEX                          ↖대체 영입
82   2016   삼성 라이온즈    아롬 발디리스  내야수  VEN                             nan
83   2016   NC 다이노스     에릭 테임즈  내야수  USA             2관왕(홈런, 장타율), 골든글러브
84   2016   NC 다이노스      에릭 해커   투수  USA                          4번째 시즌
85   2016   NC 다이노스    재크 스튜어트   투수  USA                             nan
86   2016   넥센 히어로즈   라이언 피어밴드   투수  USA                  2번째 시즌 시즌 중 방출
87   2016   넥센 히어로즈    앤디 밴 헤켄   투수  USA                  ↖대체 영입, 5번째 시즌
88   2016   넥센 히어로즈       대니 돈  외야수  USA                             nan
89   2016   넥센 히어로즈    로버트 코엘로   투수  USA                         시즌 중 방출
90   2016   넥센 히어로즈    스캇 맥그레거   투수  USA                          ↖대체 영입
91   2016   SK 와이번스     헥터 고메즈  내야수  DOM                             nan
92   2016   SK 와이번스     크리스 세든   투수  USA                         시즌 중 방출
93   2016   SK 와이번스   브라울리오 라라   투수  DOM                          ↖대체 영입
94   2016   SK 와이번스      메릴 켈리   투수  USA                          2번째 시즌
95   2016    한화 이글스    윌린 로사리오   포수  DOM                             nan
96   2016    한화 이글스  알렉스 마에스트리   투수  ITA                         시즌 중 방출
97   2016    한화 이글스   파비오 카스티요   투수  DOM                          ↖대체 영입
98   2016    한화 이글스    에스밀 로저스   투수  DOM                  2번째 시즌 시즌 중 방출
99   2016    한화 이글스     에릭 서캠프   투수  USA                          ↖대체 영입
100  2016  KIA 타이거즈       브렛 필  내야수  USA                             nan
101  2016  KIA 타이거즈     헥터 노에시   투수  DOM                             nan
102  2016  KIA 타이거즈    지크 스프루일   투수  USA                             nan
103  2016   롯데 자이언츠      짐 아두치  외야수  USA                  2번째 시즌 시즌 중 방출
104  2016   롯데 자이언츠    저스틴 맥스웰  외야수  USA                          ↖대체 영입
105  2016   롯데 자이언츠    조쉬 린드블럼   투수  USA                          2번째 시즌
106  2016   롯데 자이언츠    브룩스 레일리   투수  USA                          2번째 시즌
107  2016    LG 트윈스    스캇 코프랜드   투수  USA                         시즌 중 방출
108  2016    LG 트윈스    데이비드 허프   투수  USA                          ↖대체 영입
109  2016    LG 트윈스      헨리 소사   투수  DOM                          5번째 시즌
110  2016    LG 트윈스   루이스 히메네스  내야수  DOM                          2번째 시즌
111  2016    kt wiz     앤디 마르테  내야수  DOM                             nan
112  2016    kt wiz   트래비스 밴와트   투수  USA                             nan
113  2016    kt wiz      요한 피노   투수  VEN                         시즌 중 방출
114  2016    kt wiz   라이언 피어밴드   투수  USA                  ↖대체 영입, 2번째 시즌
115  2016    kt wiz  슈가 레이 마리몬   투수  COL                         시즌 중 방출
116  2016    kt wiz      조쉬 로위   투수  USA                          ↖대체 영입

### Capialization
ex. kt -> KT

In [384]:
# Function to process the text
def process_text(text):
    # Extract the first two characters
    extracted = text.split()[0]
    # Check if the extracted text is in English and convert to uppercase
    return extracted.upper() if extracted.isalpha() and extracted.isascii() else extracted

# Apply the function to the '구단명' column
foreign_player_2014_2024['구단명'] = foreign_player_2014_2024['구단명'].apply(process_text)

In [385]:
foreign_player_2014_2024

     year 구단명           성명  포지션   국적                      비고
0    2014  삼성       릭 밴덴헐크   투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
1    2014  삼성      J.D. 마틴   투수  USA                   신규 영입
2    2014  삼성     야마이코 나바로  내야수  DOM                   신규 영입
3    2014  두산      더스틴 니퍼트   투수  USA                  4번째 시즌
4    2014  두산     크리스 볼스테드   투수  USA                 시즌 중 방출
..    ...  ..          ...  ...  ...                     ...
410  2024  한화     리카르도 산체스   투수  VEN                  2번째 시즌
411  2024  한화      요나단 페라자  외야수  VEN                   신규 영입
412  2024  키움  엔마누엘 데 헤이수스   투수  VEN                   신규 영입
413  2024  키움      아리엘 후라도   투수  PAN                  2번째 시즌
414  2024  키움        로니 도슨  외야수  USA                  2번째 시즌

[415 rows x 6 columns]

## 선수명을 등록명으로 바꾸기

In [386]:
pitcher_data = pd.read_csv('/Users/sjung/Desktop/Data_Science_Lab/EDA_project/datasets/pitcherRecords.csv')
hitter_data = pd.read_csv('/Users/sjung/Desktop/Data_Science_Lab/EDA_project/datasets/hitterRecords.csv')
pitcher_detailed_data = pd.read_csv("/Users/sjung/Desktop/Data_Science_Lab/EDA_project/datasets/pitcher_detailed_stats.csv")
hitter_detailed_data = pd.read_csv("/Users/sjung/Desktop/Data_Science_Lab/EDA_project/datasets/hitter_detailed_stats.csv")

In [387]:
pitcher_data.head()

,이름,id,연도,팀명,평균자책점,경기,완투,완봉,승리,패배,...,승률,타자수,이닝,피안타,피홈런,볼넷,사구,삼진,실점,자책점
0,황태환,10082,1982,OB,3.86,27,2,0,6,5,...,0.545,365,86 1/3,76,12,37,11,42,43,37
1,황태환,10082,1983,OB,2.65,39,0,0,6,6,...,0.500,449,105 1/3,105,11,40,5,60,46,31
2,황태환,10082,1984,OB,2.48,17,0,0,0,2,...,0.000,159,40,36,3,15,2,19,12,11
3,황태환,10082,1985,OB,3.53,35,1,1,4,8,...,0.333,402,97,79,6,40,2,50,42,38
4,황태환,10082,1986,OB,2.45,28,0,0,3,3,...,0.500,300,73 1/3,69,7,21,1,36,23,20

In [388]:
pitcher_detailed_data.head()

,name,id,birthday,연도,팀,나이,출장,완투,완봉,선발,...,삼진,보크,폭투,ERA,FIP,WHIP,ERA+,FIP+,WAR,WPA
0,황태환,10082,1952-08-06,1982,OB,30,27,2,0,6,...,42,0,4,3.86,4.85,1.31,100.9,80.2,1.08,NaN
1,황태환,10082,1952-08-06,1983,OB,31,39,0,0,2,...,60,0,0,2.65,3.50,1.38,123.6,93.5,2.02,NaN
2,황태환,10082,1952-08-06,1984,OB,32,17,0,0,3,...,19,0,0,2.48,3.44,1.28,135.7,97.6,0.92,NaN
3,황태환,10082,1952-08-06,1985,OB,33,35,1,1,6,...,50,0,2,3.53,3.23,1.23,101.1,110.5,2.10,NaN
4,황태환,10082,1952-08-06,1986,OB,34,28,0,0,1,...,36,0,1,2.45,3.19,1.23,121.1,93.1,1.64,NaN

In [389]:
def find_name(names, team, position):
    if position == '투수':
        for name in names:
            enrolled_name = pitcher_data[(pitcher_data['이름']==name) & (pitcher_data['팀명']==team)]
            if not enrolled_name.empty:
                return enrolled_name['이름'].values[0]
            else:
                enrolled_name = pitcher_detailed_data[(pitcher_detailed_data['name']==name) &\
                                                        (pitcher_detailed_data['팀']==team)]
                if not enrolled_name.empty:
                    return enrolled_name['name'].values[0]
                
    else:
        for name in names:
            enrolled_name = hitter_data[(hitter_data['이름']==name) & (hitter_data['팀명']==team)]
            if not enrolled_name.empty:
                return enrolled_name['이름'].values[0]
            else:
                enrolled_name = hitter_detailed_data[(hitter_detailed_data['name']==name) &\
                                                        (hitter_detailed_data['팀']==team)]
                if not enrolled_name.empty:
                    return enrolled_name['name'].values[0]
            
    return "unknown"

In [390]:
enrolled_name_list = []

for i in range(len(foreign_player_2014_2024)):
    names = foreign_player_2014_2024.loc[i, "성명"].split()
    position = foreign_player_2014_2024.loc[i, "포지션"]
    if len(names) > 1:
        for idx in range(len(names)-1):
            names.append("".join([names[idx], names[idx+1]]))
    team = foreign_player_2014_2024.loc[i, "구단명"]
    enrolled_name = find_name(names, team, position)
    enrolled_name_list.append(enrolled_name)

In [391]:
# index of players who don't have any records in Korea
np.where(np.array(enrolled_name_list) == "unknown")

(array([142, 234, 342, 352, 386, 391, 394, 395, 396, 399, 400, 401, 405,
        406, 407, 408, 411, 412]),)

In [392]:
foreign_player_2014_2024.insert(2, "등록명", enrolled_name_list)

In [393]:
foreign_player_2014_2024

     year 구단명      등록명           성명  포지션   국적                      비고
0    2014  삼성     밴덴헐크       릭 밴덴헐크   투수  NED  2번째 시즌, 2관왕(평균자책점&탈삼진)
1    2014  삼성       마틴      J.D. 마틴   투수  USA                   신규 영입
2    2014  삼성      나바로     야마이코 나바로  내야수  DOM                   신규 영입
3    2014  두산      니퍼트      더스틴 니퍼트   투수  USA                  4번째 시즌
4    2014  두산     볼스테드     크리스 볼스테드   투수  USA                 시즌 중 방출
..    ...  ..      ...          ...  ...  ...                     ...
410  2024  한화      산체스     리카르도 산체스   투수  VEN                  2번째 시즌
411  2024  한화  unknown      요나단 페라자  외야수  VEN                   신규 영입
412  2024  키움  unknown  엔마누엘 데 헤이수스   투수  VEN                   신규 영입
413  2024  키움      후라도      아리엘 후라도   투수  PAN                  2번째 시즌
414  2024  키움       도슨        로니 도슨  외야수  USA                  2번째 시즌

[415 rows x 7 columns]

## Save

In [394]:
foreign_player_2014_2024.to_csv("./datasets/foreign_player_list.csv")