### Manually adding records of player  missing from crawling

In [23]:
import numpy as np
import pandas as pd

read csv file

In [24]:
pitcher_detailed = pd.read_csv('../datasets/pitcher_detailed_stats_revised_1.csv',
                               index_col=0)

Check columns

In [25]:
pitcher_detailed.columns

Index(['name', 'id', 'birthday', '연도', '팀', '나이', '출장', '완투', '완봉', '선발', '승',
       '패', '세', '홀드', '이닝', '실점', '자책', '타자', '안타', '2타', '3타', '홈런', '볼넷',
       '고4', '사구', '삼진', '보크', '폭투', 'ERA', 'FIP', 'WHIP', 'ERA+', 'FIP+',
       'WAR', 'WPA'],
      dtype='object')

In [26]:
len(pitcher_detailed.columns)

35

Append missing records of players to the dataframe

In [16]:
# player_data = [['페냐',	'52720', '1990.1.25', 2022,	'한화',	32,	13,	0,	0,	13,	5,	4,	0,	0,	67.2,	33,	28,	293,	63,	10,	2,	4,	30,	0,	4,	72,	0,	4,	3.72,	3.49,	1.37,	108.7,	116.7,	0.58,	0.15],
#                 ['페냐', '52720', '1990.1.25', 2023,	'한화',	33,	32,	0,	0,	32,	11,	11,	0,	0,	177.1,	82,	71,	751,	149,	28,	5,	14,	59,	1,	18,	147,	4,	16,	3.60,	4.10,	1.17,	115.2,	101.3,	3.53,	-0.27]]
# player_data = pd.DataFrame(player_data, columns = pitcher_detailed.columns)
# player_data

# result_df = pd.concat([pitcher_detailed,player_data], axis = 0).reset_index(drop = True)

,name,id,birthday,연도,팀,나이,출장,완투,완봉,선발,...,삼진,보크,폭투,ERA,FIP,WHIP,ERA+,FIP+,WAR,WPA
0,페냐,52720,1990.1.25,2022,한화,32,13,0,0,13,...,72,0,4,3.72,3.49,1.37,108.7,116.7,0.58,0.15
1,페냐,52720,1990.1.25,2023,한화,33,32,0,0,32,...,147,4,16,3.60,4.10,1.17,115.2,101.3,3.53,-0.27

저장

In [30]:
result_df = pitcher_detailed

In [31]:
result_df.to_csv('./datasets/pitcher_detailed_stats_revised_1.csv')